body {
  background-color: #D9E1E3;
  font-family: Palatino, "Times New Roman", Times, serif;
  margin: 0px;
}

/*
 * Header:
 */

header {
  background-color: rgba(35, 97, 146, 0.65);
  border: hidden;
  border-radius: 10px;
  font-size: 28pt;
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  padding-bottom: 8px;
  display: none;
}

#top {
  padding: 8px;
  display: flex;
  overflow: auto;
}

#companyLogo {
  padding-left: 16px;
  padding-top: 8px;
}
#companyLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#companyNav {
  width: 100%;
  padding-top: 8%;
}
#companyNav ul {
  list-style: none;
  margin: 8px 0px 8px 0px;
  padding: 0;
}
#companyNav ul li {
  font-size: 3.5vw;
  display: table;
}

#li1 {
  margin: 0px auto 10% auto;
}
#li2 {
  margin: 10% auto 0px auto;
}

#a1 {
  margin-right: 5%;
}
#a2 {
  margin-left: 5%;
}

#top ul li a {
  border: hidden;
  border-radius: 10px;
  text-decoration: none;
  background-color: #567817;
  color: #FFF;
  padding: 8px;
  width: 100%;
  height: 100%;
}

#main {
  width: 95%;
  margin: 16px auto 16px auto;
  background-color: rgba(101, 141, 27, 0.65);
  border: hidden;
  border-radius: 10px;
  display: none;
}

/*
 * Index Page:
 */

#indexPage {
  padding: 8px;
}
#indexPage h3 {
  text-decoration: underline;
  font-size: 2.5vw;
  text-align: center;
}
#indexPage p {
  font-size: 18pt;
}

#VBP {
  font-size: 3vw;
  text-align: right;
/*   float: right; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  border-spacing: 8px;
}
#VBP td {
  color: #FFF;
}

#test {
  width: 6vw;
}
#baseBox {
  width: 17vw;
}
#formButtons {
  background-color: rgba(55, 166, 251, 0.50);
  border: hidden;
  border-radius: 10px;
  width: 75%;
  text-align: left;
  padding: 8px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
}
#formButtons button {
  width: 15%;
  height: 50px;
  font-size: 1.5vw;
  border: hidden;
  border-radius: 8px;
}
#formButtons p {
  text-align: justify;
/*   width: 75%; */
  margin-left: auto;
  margin-right: auto;
}
#formButtons h4 {
  text-align: center;
  font-size: 3vw;
/*   width: 75%; */
  margin-left: auto;
  margin-right: auto;
}

#filler {
    text-align: center;
}
#filler button:hover {
  background-color: #FFF;
}
#filler form {
  display: inline-flex;
  height: 100%
}
#filler form button {
  width: 50%;
  margin-right: 16px;
}

#loadButton {
  margin-bottom: 4px;
  margin-right: 8px;
}
#whatIfButton {
  margin-left: 8px;
}
#save_button {
  display: none;
}
#whatIfContainer {
  display: none;
  border: hidden;
  border-radius: 8px;
  padding: 4px;
  background-color: rgb(221, 221, 221);
}
#whatIfContainer p {
  font-size: 1.5vw;
  text-align: center;
  margin: 0;
}
#submitButton {
  display: none;
}


.mainTables {
  border-spacing: 8px;
  width: 100%;
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.mainTables th {
  text-align: right;
}
.mainTables th, .mainTables td {
  border: 2px solid black;
  padding: 8px;
}
.mainRow th {
  font-size: 2.5vw;
}
.tRow1 th {
  text-align: center;
}

#hcahpsTable {
  clear: both;
  font-size: 1.25vw;
}
#hcahpsTable th, #hcahpsTable td {
  padding: 8px 2px 8px 2px;
}

#doubleTable {
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
}

#clinicalTable {
  width: 60%;
  font-size: 2.0vw;
}

#efficiencyTable {
  width: 30%;
  height: 100%;
  font-size: 2.0vw;
}

/*
 * About Page:
 */

#aboutPage {
  padding-top: 16px;
}
#aboutPage h1 {
  text-align: center;
  font-size: 4vw;
  margin-top: 0;
  margin-bottom: 0;
}
#aboutPage h3 {
  text-align: center;
}
#containerA {
  display: grid;
  grid-template-areas: 
  'aa bb'
  'cc dd'
  'ee ff'
  'gg hh';
}
#aboutPage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#div1 {
  grid-area: aa;
  text-align: justify;
  font-size: 2.5vw;
  padding-left: 10%;
  padding-top: 17%;
}
#div2 {
  grid-area: bb;
  font-size: 3.0vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#div3 {
  grid-area: cc;
  font-size: 3.0vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#div4 {
  grid-area: dd;
  text-align: justify;
  font-size: 2.5vw;
  padding-right: 10%;
  padding-top: 17%;
}
#div5 {
  grid-area: ee;
  text-align: justify;
  font-size: 2.5vw;
  padding-left: 10%;
  padding-top: 17%;
}
#div6 {
  grid-area: ff;
  font-size: 3.0vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#div7 {
  grid-area: gg;
  font-size: 3.0vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#div8 {
  grid-area: hh;
  text-align: justify;
  font-size: 2.5vw;
  padding-right: 10%;
  padding-top: 17%;
}

/*
 * More Information Page:
 */

#moreInfoPage {
  text-align: center;
  padding: 2%;
}
#moreInfoPage label {
  font-size: 2.5vw;
}
#moreInfoPage button {
  width: 100%;
  height: 30px;
}
#moreInfoPage input, #moreInfoPage textarea {
  width: 95%;
  padding: 12px 20px;
  font-size: 2vw;
  border: hidden;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Footer:
 */

footer {
  width: 95%;
  background-color: rgba(35, 97, 146, 0.65);
  text-align: center;
  display: none;
  margin: 0px auto 2.5% auto;
  border: hidden;
  border-radius: 10px;
}
